<header class="navbar navbar-expand-md bg-light fixed shadow-lg fondoHeader">
  <nav aria-label="Main navigation" class="container-xxl flex-wrap flex-md-nowrap">
    <a class="navbar-brand site-description link-white" role="button" href="#/home">
      <img src="/assets/img/logoCopo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center">
      <span class="text-break fw-bold p-2">Programa de Mantenimiento</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
      aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="bdNavbar" class="collapse navbar-collapse">
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-auto me-auto align-self-center">
          <a class="nav-link link-light">
            <div class="row">
              <div class="col-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                  class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path fill-rule="currentColor"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
              </div>
              <div class="col-8">
                <strong>{{this.gs.position}}</strong> <br>
                <small class="text-light"><em>{{this.gs.ship}}</em></small>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item col-auto  align-self-center">
          <a class="nav-link link-light fw-bold p-3" role="button" (click)="logoutHeader()">
            Salir
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
