<section class="container-fluid justify-content-center py-4">
    <h3 class="ms-5 fw-bold">Consulta de Equipos</h3>

    <form #formRegisterEquipment class="row justify-content-end g-3 needs-validation" name="searchForm" novalidate
        (submit)="search_equipment(formRegisterEquipment, $event)" autocomplete="off">
        <div class="col-auto">
            <select class="form-select" aria-label="" name="selectSearch" id="selectSearch" [(ngModel)]="selectedOption"
                (change)="onSelectChange()" required>
                <option value="name" selected>Nombre del equipo</option>
                <option value="disabled">Deshabilitados</option>
                <option value="model">Modelo del equipo</option>
                <option value="number">Número de grupo</option>
                <option value="trademark">Marca del equipo</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" name="inputSearch" placeholder="Busqueda..." class="form-control" id="inputSearchLabel">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
        </div>
    </form>

    <div class="row py-3 text-center">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col">Número de grupo</th>
                            <th class="col">Nombre del equipo</th>
                            <th class="col">Localización del equipo</th>
                            <th class="col">Ubicación el equipo</th>
                            <th class="col">Marca del equipo</th>
                            <th class="col">Modelo del equipo</th>
                            <th class="col">Tipo</th>
                            <th class="col">Número de serie</th>
                            <th class="col">Potencia</th>
                            <th class="col">Fecha de calibración</th>
                            <th class="col">Observaciones</th>
                            <th *ngIf="sessionData.superUsuario || sessionData.ambosBuques" class="col">Buque
                                Oceanografico</th>
                        </tr>
                    </thead>
                    <tr>
                        <td colspan="12" class="text-center" [innerHTML]="conData"></td>
                    </tr>
                    <tbody *ngIf="whit_data">
                        <tr *ngFor="let equipo of equipment_array;">
                            <td>{{equipo.group_no}}</td>
                            <td>{{equipo.name}}</td>
                            <td>{{equipo.location}}</td>
                            <td>{{equipo.part_ship}}</td>
                            <td>{{equipo.trademark}}</td>
                            <td>{{equipo.model}}</td>
                            <td>{{equipo.type}}</td>
                            <td>{{equipo.serial_number}}</td>
                            <td>{{equipo.power}}</td>
                            <td>{{equipo.calibration_date}}</td>
                            <td>{{equipo.observations}}</td>
                            <td *ngIf="sessionData.superUsuario || sessionData.ambosBuques">{{equipo.ship}}</td>
                            <td *ngIf="sessionData.superUsuario == false && sessionData.userAdministrador == false">
                                <button class="btn btn-azul" (click)="getSparePart(equipo)">Consultar
                                    Refacciones</button>
                            </td>
                            <td *ngIf="sessionData.superUsuario || sessionData.userAdministrador">
                                <button class="btn btn-azul btn-sm" (click)="addSparePart(equipo)">Registrar
                                    Refacciones</button>
                                <button class="btn btn-oro btn-sm" (click)="getSparePart(equipo)">Consultar
                                    Refacciones</button>
                                <button class="btn btn-azul" (click)="updateEquipment(equipo)">Editar</button>
                                <button class="btn btn-oro" data-bs-toggle="modal" data-bs-target="#eliminarEquipo"
                                    (click)="pasarEquipo(equipo)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modal Eliminar Equipo-->
<div class="modal fade" id="eliminarEquipo" tabindex="-1" aria-labelledby="eliminarEquipoLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header cardHeader">
                <h1 class="modal-title fs-5 text-light">Borrar Equipo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-3 text-center">
                <p>Esta acción eliminará permanentemente el equipo seleccionado.</p>
                <h5>¿Está seguro de que desea continuar?</h5>
                <p>Esta acción no se puede deshacer.</p>
                <button type="button" class="btn btn-oro btn-lg" (click)="deleteEquipment()"> Eliminar </button>
                <div [innerHTML]="errorDelete"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-azul" data-bs-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>