<section>
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-xl-4 mx-auto py-5">
                <div class="card bg-light mb-3 shadow-lg">
                    <div class="card-header text-center cardHeader fw-bold text-light">
                        Registrar Refaccción
                    </div>
                    <div class="card-body">
                        <form #formRegisterSparepart class="row g-2 needs-validation" name="registerSparepartForm"
                            novalidate (submit)="add_sparepart(formRegisterSparepart, $event)" autocomplete="off">
                            <div class="form-group mb-3">
                                <label for="amountSparepart" class="form-label">Cantidad *</label>
                                <input type="number" name="amount" class="form-control" id="amountSparepart"
                                    placeholder="Ingresa una cantidad" required>
                                <div class="invalid-feedback">
                                    Cantidad es requerido
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="descriptionSparepart" class="form-label">Descripción *</label>
                                <input type="text" name="description" class="form-control" id="descriptionSparepart"
                                    placeholder="Ingresa una descripción" required>
                                <div class="invalid-feedback">
                                    Descripción es requerido
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Posición</label>
                                <input type="text" name="position" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Numero de parte</label>
                                <input type="text" name="num_part" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Numero de refacción</label>
                                <input type="number" name="num_ref" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Lamina/Diagrama</label>
                                <input type="text" name="sheet_diagram" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Item</label>
                                <input type="number" name="item" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Plano</label>
                                <input type="text" name="plano" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Modelo</label>
                                <input type="text" name="model" placeholder="" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" name="observations" rows="3" class="form-control"
                                    ngModel></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                            </div>
                            <p class="text-end pt-3"> <small>* Estos campos son obligatorios</small></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>