/* Establecer la altura fija para la tabla */
.fixed-height-table {
  max-height: 50vh; /* Ajusta la altura fija como desees */
  overflow-y: auto;
}

/* Hacer que el thead sea pegajoso (sticky) para que permanezca visible mientras se desplaza el tbody */
.table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Cambia el color de fondo si lo deseas */
}

// Bootstrap as module
@import "../node_modules/bootstrap/scss/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Jura&display=swap");

.site-description {
  font-family: "Jura", sans-serif;
  line-height: 1;
  color: #1C355E;
}

.fondoLogin {
  background: linear-gradient(30deg, #1C355E 20%, #BF9E5D 80%);
}

.fondoHeader {
  background: linear-gradient(330deg, #1C355E 20%, #BF9E5D 80%);
}

.cardHeader {
  background: linear-gradient(330deg, #1C355E 20%, #BF9E5D 80%);
}

.fondoCard {
  background: linear-gradient(90deg, #1C355E 0%, #BF9E5D 100%);
}

.bgAzul {
  background-color: #1C355E;
}

.bgOro {
  background-color: #BF9E5D;
}

.colorAzul {
  color: #1C355E;
}

.colorOro {
  color: #BF9E5D;
}

// ******************* para los botones *******************// 
.btn-azul {
  background-color: #1C355E;
  color: white;
  font-weight: bold;
}

.btn-azul:hover {
  background-color: #1C355E;
  color: #BF9E5D;
  transition-duration: 0.4s;
}

.btn-oro {
  background-color: #BF9E5D;
  color: white;
  font-weight: bold;
}

.btn-oro:hover {
  background-color: #BF9E5D;
  color: #1C355E;
  transition-duration: 0.4s;
}
// ******************* para los botones *******************// 


